# VS Code files for those working on multiple tools
.vscode/*
*.code-workspace
.idea

# Local History for Visual Studio Code
.history/

# Grunt
node_modules/
deploy/
package-lock.json

# Composer
# vendor/
composer.lock

# Sass
.sass-cache/

# OS X metadata
.DS_Store

# Windows junk
Thumbs.db

# wp-env config
.wp-env.override.json

# Claude's local config
.claude/settings.local.json